.idea/
.vscode/
vendor/
application/storage/*
application/config/production/*
application/config/development/*
database/mysql/Backup_Command*
public/admin/
zls.ini
!.gitkeep
!.gitignore
!.htaccess
!.nginx
